*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E8ECF3;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.black{
    width: 220px;
    height: 30px;
    background-color: #111;
    color: rgb(219, 219, 219);
    font-size: 10px;
    box-shadow: 1px 3px 5px 1px rgb(59, 60, 63,0.3);
    border-radius: 20px;
    border: none;
    margin-bottom: 5%;
}
h4{
    margin-bottom: 5%;
}
main{
    width: 580px;
    height: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box{
    width: 100px;
    height: 170px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.color{
    width: 90px;
    height: 130px;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.one{
    background-color: #EEEDF0;
}
.two{
    background-color: #A1B5C1;
}
.three{
    background-color: #F9ACA7;
}
.up{
    box-shadow: 0 4px 6px 4px rgba(148, 151, 161, 0.267);
    position: relative;
    bottom: 20px;
    font-weight: 800;
}
.four{
    background-color: #68747D;
}
.five{
    background-color: #CF365F;
}
.box span{
    margin-top: 5%;
    font-size: 11px;
    color: rgb(100, 104, 107);
}
.purple{
    width: 220px;
    height: 30px;
    background-color: #7E6CCA;
    color: rgb(219, 219, 219);
    font-size: 10px;
    box-shadow: 1px 3px 5px 1px rgb(59, 60, 63,0.3);
    border-radius: 5px;
    border: none;
    margin-top: 5%;
}
.text{
    font-size: 10px;
    color:rgb(26, 24, 26);
    margin-top: 1%;
}
.white{
    width: 220px;
    height: 30px;
    background-color: #fdfdfd;
    color: rgb(80, 80, 80);
    font-size: 8px;
    box-shadow: 1px 3px 5px 1px rgba(59, 60, 63, 0.089);
    border-radius: 20px;
    border: none;
    margin-top: 2%;
}